.card-github-container{
    background-color: var(--color-bg-quaternary);
    padding: 44px 35px;
    display: flex;
    border-radius: 8px;
}

.card-left{
    margin-right: 30px;
}

.card-left img{
    width: 247px;
    height: 247px;
}

.card-right{
    border-radius: 6px;
    border: 1px solid var(--color-border);
    background-color: var(--color-bg-primary);
    padding: 10px 14px;
    width: 100%;
}

.card-right h4{
    color: var(--color-font-quinary);
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 20px;
}

.info-user-container{
    display: grid;
    grid-gap: 5px;
}

.info-user{
    height: 40px;
    padding: 8px 10px;
    border: 1px solid var(--color-border);
    border-radius: 4px;
    font-size: 16px;
    color: var(--color-font-quaternary);
}

.info-user span{
    font-weight: 700;
}