.btn-blue{
    font-size: 16px;
    color: var(--color-font-secondary);
    padding: 8px 18px;
    border-radius: 4px;
    background-color: var(--color-bg-button);
}

.btn-blue:hover{
    background-color: var(--color-bg-button-hover);
    transition: 0.5s;
}