@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root{
  --color-bg-primary: #FFF;
  --color-bg-secondary: #1890FF;
  --color-bg-tertiary: #E6F7FF;
  --color-bg-quaternary: #F5F5F5;

  --color-font-primary: #000;
  --color-font-secondary: #FFF;
  --color-font-tertiary: #7E7E7E;
  --color-font-quaternary: #737373;
  --color-font-quinary: #1890FF;
  
  --color-bg-button: #1890FF;
  --color-bg-button-hover: #1580e4;

  --color-border: #D9D9D9;

  --color-font-placeholder: #BFBFBF;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
  font-family: 'Roboto', sans-serif;
}

main{
  padding: 0 41px;
}

a, a:hover{
  text-decoration: none;
}

.btn-blue{
  font-size: 16px;
  color: var(--color-font-secondary);
  padding: 8px 18px;
  border-radius: 4px;
  background-color: var(--color-bg-button);
  display: inline-block;
}

.btn-blue:hover{
  background-color: var(--color-bg-button-hover);
  transition: 0.5s;
}

.container{
  width: 100%;
  max-width: 1251px;
  margin: 0 auto;
}

.mt-27{
  margin-top: 27px;
}

.mb-27{
  margin-bottom: 27px;
}

.mt-54{
  margin-top: 54px;
}
.mb-54{
  margin-bottom: 54px;
}